@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');

.navbar {
    background-color: azure;
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh; /* Define a fixed height */
    z-index: 1000; /* Keep navbar on top */
}

body {
    padding-top: 10vh; /* Prevent content from being hidden under navbar */
}

.logo {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlinks {
    display: flex;
    gap: 10px;
    font-size: 1.5em;
}

.navlinks a {
    text-decoration: none;
    color: black;
}

.social {
    display: flex;
    gap: 10px;
    color: black;
    font-size: 1.5em;
}
