*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    /* align-items: center; */
    /* display: flex; */
    /* align-items: center; */
    color: white;
    /* padding: 100px; */
}



